.login-background {
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height    : 100vh;

    .login-container {
        width              : 300px;
        // height          : 100%;
        // margin          : 0 auto;
        border-radius      : 10px;
        background-color   : white;
        position           : absolute;
        margin             : auto;
        top                : 0;
        bottom             : 0;
        right              : 0;
        left               : 0;
        height             : 450px;

        .login-content {
            padding: 10px;

            .login-text {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0px;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 5px;
                        top     : 10px;
                        cursor  : pointer;
                    }
                }
            }

            .btn-login {
                color        : white;
                font-size    : 16px;
                width        : 100%;
                margin       : 10px 0;
                height       : 30px;
                border-radius: 15px;
                border       : none;
                outline      : none;
                background   : rgb(34, 193, 195);
                background   : linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display        : flex;
                text-align     : center;
                justify-content: center;
                margin-top     : 10px;

                .goole {
                    font-size       : 30px;
                    background-color: #c32424;
                    border-radius   : 50%;
                    height          : 50px;
                    width           : 50px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    color           : white;
                    margin-right    : 15px;
                }

                .facebook {
                    font-size       : 30px;
                    background-color: #307aaf;
                    border-radius   : 50%;
                    height          : 50px;
                    width           : 50px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    color           : rgb(198, 230, 233);

                }
            }
        }
    }
}

.menu {
    background-color: #89a9e9;
    text-align      : center;





}

card-img-top {
    max-width: 50px;
}